body {
    background-color: rgb(202, 202, 202);
}

h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}

li {
    color: black;
    font-family: verdana;
    font-size: 18px;
}


#header {
    background-color: navy;
    color: white;
    padding: 15px;
    text-align: center;
}