body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

p {
    color: black;
    font-family: verdana;
    font-size: 20px;
}

#warning {
    color: rgb(255, 0, 0);
    font-family: verdana;
    font-size: 28px;
}

li {
    color: black;
    font-family: verdana;
    font-size: 18px;
}


#header {
    background-color: navy;
    color: white;
    padding: 20px; 
    margin-bottom: 20px; 
    text-align: center;
    border: 2px solid black; 
    border-radius: 10px; 
}

.highlight {
    background-color: navy;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

a {
    color: black; 
    text-decoration: underline; 
}

a:hover {
    color: blue; 
    text-decoration: underline; 
}

